// Navigation code here


.wrapper-nav {
    .center-flex();
    width:100%;
    flex-direction:column;
    margin: 2% 0;
    .walker-logo {
        margin: 2%;

        @media @phone {
            margin: 5%;
        }
    }
    .nav-links {
        width:50%;
        display:flex;
        justify-content:space-evenly;
        align-items:center;
            
        @media @phone {
            width:100%;
        }
        a{
            font-size: 16px;
            color: @nav-font;
            text-decoration: none;
        }
    } 
    h1 {
        font-size: 40px;
    }
}
//sign up button
.btn {
    .sign-btn(@btn-bg-color; @bd-radius:5px; @wild-sand; @wide:25%;);

    @media @phone {
        .sign-btn(@btn-bg-color; @bd-radius:5px; @wild-sand; @wide:50%;);
    }
    &:hover {
        .sign-btn(@waterloo; @bd-radius:5px; @ebony-clay; @wide:25%;);
    }
}